<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eg.iti.programmingforkids.gamekids"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eg.iti.programmingforkids.gametutorial.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="eg.iti.programmingforkids.scene.TextMenuExample"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="eg.iti.programmingforkids.gamekids.AppLogingActivity"
            android:label="@string/title_activity_app_loging" >
        </activity>
        <activity
            android:name="eg.iti.programmingforkids.gamekids.HomeHActivity"
            android:label="@string/title_activity_home_h" >
        </activity>
        <activity
            android:name="eg.iti.programmingforkids.gamekids.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>